.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.childrenWrapper {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  position: relative;
}

.horizontalLine {
  position: absolute;
  top: -16px;
  left: 0;
  right: 0;
  border-top: 2px solid #93c5fd;
  pointer-events: none;
}

.childWrapper {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
}

.singleVerticalLine {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 16px;
  background-color: #93c5fd;
}

.verticalLine {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 16px;
  background-color: #93c5fd;
}
